.body{
    padding-top: 20px;

}
.cards{
    display:flex;
    /*   */

    

}

.card{
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(84, 79, 79);
    box-shadow: rgba(100, 100, 111,0.2) 0px 7px 29px 0px;
    width: calc(25% - 30px);
    margin-left: 30px;
}
.card-image{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-content{
    padding: 25px;

}

.card-title{
    font-weight: 500;
    margin-bottom: 25px;


}



.card-user {
    display: flex;
    align-items: center;
}

.card-user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    flex-shrink: 0;
}

.card-user-infor{
    padding-left: 20px;
    flex:1;
}
.card-user-top{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.card-user-top ion-icon{
    color: green;
    margin: 15px;
}
.card-user-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 1;

}
.card-infor-game{
    color: #999;
    font-weight: 300;
    font-size: 18px;
    align-items: center;
    

}
.card-bottom{
    padding: 25px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.card-live{
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 6px;
    background-color:rgb(247, 88, 9);
}
.card-live span{

}
.card-watching{
    font-size: 13px;
    color: #999;
    font-weight:300;

}


