
.frames{
    width: 552px;
    height: 466px;

    position: absolute;
    right: 180px;
    border: 1px solid #333;
    border-radius:8px;;
}
.frames--container{
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
   

}

.title{
    width:auto;
    color:#555555;
    font-family:Bold;

    font-size:14px;
    font-weight:700;
    line-height:19.6px;
    text-transform: uppercase;
    margin-right: 40px;
    border-bottom: 2px solid ;

}
.container__item{
    display: flex;


}
.item--post{
    margin-top: 15px;

}


.post-total{

  


}
.post-element{

}


